tkinter
PIL
from countryinfo import CountryInfo
(for the tkinter application only) tkinter
(for the tkinter application only) PIL
(for the tkinter application only)the provided Flags folder must be in the same folder as the project1.py file for the Flag button to work.
iso421 # for the language formatted (full) name
iso639 # for the currency formatted name