altgraph==0.17.5
certifi==2026.5.20
charset-normalizer==3.4.7
countryinfo==1.0.1
idna==3.16
iso4217==1.16.20260101
packaging==26.2
pillow==12.2.0
pycountry==26.2.16
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
python-dotenv==1.2.2
requests==2.34.2
setuptools==82.0.1
tk==0.1.0
urllib3==2.7.0
